@import "_var.scss";
@import "_mixin.scss";

.list {
  list-style: none;
  padding: 0;
  text-align: initial;
  max-width: 480px;
  margin: $space-md auto;
}

.list__emptyMessage {
  color: rgba($base-white, 0.75);
  font-weight: 200;
}

.list__item {
  border: 1px solid rgba($base-white, 0.5);
  box-sizing: border-box;
  padding-right: $btn-size;
  padding: $space-sm $space-md;
  position: relative;
  transition-duration: 0.012s;
  transition-property: background color;
  transition-timing-function: ease-in-out;
  // ellipsis
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:first-of-type {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  &:last-of-type {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  &:not(:only-child):not(:last-of-type) {
    border-bottom-width: 0;
  }
  & + & {
    border-top-width: 1px;
  }
  &:hover {
    background-color: darken($primary, 10%);
  }
}

.list__itemCheckboxContainer {
  position: relative;

  &[data-done="true"] {
    text-decoration: line-through;
  }
}

.list__itemCheckbox {
  display: inline-block;
  margin-right: $space-md;
  margin-top: -6px;
  vertical-align: middle;
}

.list__itemCancelBtn {
  @include defaultBtn;
  color: inherit;
  font-size: $text-sm;
  letter-spacing: 2px;
  line-height: $text-xl;
  position: absolute;
  right: 0;
  text-transform: uppercase;
}
